<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project_4.Properties.Settings.enventDbConnectionString"
            connectionString="server=35.228.3.69;user id=root;database=enventDb;persistsecurityinfo=True;password=l7heDyE6lxs7CN7o"
            providerName="MySql.Data.MySqlClient" />
        <add name="Project_4.Properties.Settings.enventDbConnectionString1"
            connectionString="server=35.228.3.69;user id=root;password=l7heDyE6lxs7CN7o;persistsecurityinfo=True;database=enventDb"
            providerName="MySql.Data.MySqlClient" />
        <add name="enventDb"
     providerName="System.Data.MySqlClient"
     connectionString="server=35.228.3.69;port=3306;database=envetDb;uid=root;password=l7heDyE6lxs7CN7o"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
