<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="enventDb"
     providerName="System.Data.MySqlClient"
     connectionString="server=xenon-marker-259815:europe-north1:enventdb;port=3306;database=envetDb;uid=root;password=l7heDyE6lxs7CN7o"/>
  </connectionStrings>
</configuration>